{% extends 'base.html' %} {% block content %}
<canvas id="camera-sensor"></canvas>
<div id="getImg" class="box">
  <h3 style="color: aliceblue">정면을 바라보고 아래 버튼을 눌러 캡처하세요.</h3>
  <div id="camera">
    <video id="camera-view" autoplay playsinline></video>
    <br />
    <button id="capture">사진 저장</button>
    <button id="upLoad">upLoad</button>
  </div>

  <button id="to_character" onclick="location.href='/register/character'">
    캐릭터 만들기
  </button>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
  const cameraSensor = document.querySelector("#camera-sensor");
  const cameraView = document.querySelector("#camera-view");
  const captureButton = document.querySelector("#capture");
  const uploadButton = document.querySelector("#upLoad");
  let user = window.sessionStorage.getItem("login_user");
  let constraints = { video: true, audio: false };

  // console.log("cameraView"+cameraView);
  // console.log("cameraSensor"+cameraSensor);
  // console.log("captureButton"+captureButton);

  function cameraStart() {
    navigator.mediaDevices
      .getUserMedia(constraints)
      .then(function (stream) {
        // console.log(stream);
        // track = stream.getTracks()[0];
        cameraView.srcObject = stream;
      })
      .catch(function (error) {
        console.error("카메라에 문제가 있습니다.", error);
      });
  }

  function capture() {
    var context = cameraSensor.getContext("2d");
    cameraSensor.width = cameraView.clientWidth;
    cameraSensor.height = cameraView.clientHeight;
    context.drawImage(
      cameraView,
      0,
      0,
      cameraView.clientWidth,
      cameraView.clientHeight
    );
  }

  window.addEventListener("load", cameraStart, false);
  captureButton.addEventListener("click", capture);

  // function uploadImage(){
  //   const imgBase64 = cameraSensor.toDataURL('image/jpeg','image/octet-stream');
  //   const decodImg = atob(imgBase64.split(',')[1]);
  //   let array=[];
  //   for (let i=0;i<decodImg.length;i++){
  //     array.push(decodImg.charCodeAt(i));
  //   }

  //   const file = new Blob([new Uint8Array(array)],{type: 'image/jepg'});
  //   const fileName = user+'.png';
  //   let formData = new FormData();
  //   formData.append('file',file,fileName);

  //   $.ajax({
  //     type: 'post',
  //     url: '/upload/',
  //     cache: false,
  //     data: formData,
  //     processData: false,
  //     contentType: false,
  //     success: function (data) {
  //       alert('Uploaded !!')
  //     }
  //   })
  // }

  // uploadButton.addEventListener("click",uploadImage);
</script>
{% endblock %}
